/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-bottom: 2rem;
    
    

}
.header-right{
    background-color: lightgray;
    text-align: center;
    font-size: 10px;

}

 /* #product{
     background-color: red; 
    height: 100vh;

}  */

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100%;


}
.card{
    aspect-ratio: 16/9;
    width: calc(100% / 7 - 10px);
    background-color: blue;
    margin-bottom: 10px;
    min-width: 100px;
}
img{
    max-width: 100%;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    color: inherit;
    text-decoration: none;
}


/*UTILS*/

.container{
    max-width: 1080px;
    padding: 0 15px;
    margin-top: 20px;
    
    
}

.debug{
    min-height: 80px;
    background-color: burlywood;
    padding: 1rem;
}
